<div> 
    <mat-toolbar color="primary">
        <div class="navbar-header">
            <a class="navbar-brand">
                <b>
                    <img src="" alt="" class="dark-logo">
                </b>
                <span fxShow="false" fxShow.gt-xs>
                 <img src="" alt="" class="dark-logo">
                </span> </a>
        </div>
        <button mat-icon-button (click)="snav.toggle()" value="sidebarclosed">
            <mat-icon>menu</mat-icon>
        </button>
        <app-header></app-header>
    </mat-toolbar>
    <mat-sidenav-container [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
        <mat-sidenav #snav id="snav" class="dark-sidebar pl-xs" [mode]="mobileQuery.matches ? 'side' : 'over'" fixedTopGap="0" [opened]="mobileQuery.matches" [disableClose]="mobileQuery.matches"  >
                <app-sidebar></app-sidebar>
        </mat-sidenav>
        <mat-sidenav-content>
            <div style="height: 87vh;">
              <div class="container-fluid">
                <br />
                  <router-outlet></router-outlet>
                  <br />
              </div>
            </div>
          </mat-sidenav-content>
    </mat-sidenav-container>
</div>