<mat-nav-list>
    <mat-list-item [routerLink]="['/dashboard']" [routerLinkActive]="['active']">
        <mat-icon [class.active]="true" matListIcon>dashboard</mat-icon>
		    <a>Dashboard</a>
    </mat-list-item>
    <mat-list-item [routerLink]="['/student-info']" [routerLinkActive]="['active']">
        <mat-icon [class.active]="true" matListIcon>account_box</mat-icon>
		    <a>Student Info</a>
    </mat-list-item>
    <mat-list-item [routerLink]="['/fee-info']" [routerLinkActive]="['active']">
        <mat-icon matListIcon>receipt</mat-icon>
		    <a>Fee Info</a>
    </mat-list-item>
    <mat-list-item [routerLink]="['/student-grade']" [routerLinkActive]="['active']">
        <mat-icon matListIcon>home</mat-icon>
		    <a>Allocate Section</a>
    </mat-list-item>
    <mat-list-item [routerLink]="['/admission-details']" [routerLinkActive]="['active']">
        <mat-icon matListIcon>home</mat-icon>
		    <a>Admission Details</a>
    </mat-list-item>
    <mat-list-item [routerLink]="['/grade-details']" [routerLinkActive]="['active']">
        <mat-icon matListIcon>home</mat-icon>
		    <a>Grade Details</a>
    </mat-list-item>
    <mat-list-item [routerLink]="['/fee-details']" [routerLinkActive]="['active']">
        <mat-icon matListIcon>receipt</mat-icon>
		    <a>Fee Details</a>
    </mat-list-item>
    <mat-list-item [routerLink]="['/fee-due']" [routerLinkActive]="['active']">
        <mat-icon matListIcon>receipt</mat-icon>
		    <a>Fee Due</a>
    </mat-list-item>
    <mat-list-item [routerLink]="['/fee-structure']" [routerLinkActive]="['active']">
        <mat-icon matListIcon>receipt</mat-icon>
		    <a>Fee Structure</a>
    </mat-list-item>
</mat-nav-list>