<br />
<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h1>Student Details</h1>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
      <input matInput placeholder="Search here" (keyup)="applyFilter($event)">
    </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="StudentName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Student Name</th>
        <td mat-cell *matCellDef="let element"> {{element.studentName}} </td>
      </ng-container>
      <ng-container matColumnDef="RollNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Roll No</th>
        <td mat-cell *matCellDef="let element"> {{element.rollNo == 0 ? '' : element.rollNo}} </td>
      </ng-container>
      <ng-container matColumnDef="Fee">
        <th mat-header-cell *matHeaderCellDef>View Fee</th>
        <td mat-cell *matCellDef="let element"> <a [routerLink]="['/fee', element.studentId]">Fee</a> </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="cols"></tr>
      <tr mat-row *matRowDef="let row; columns: cols"></tr>
    </table>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons ></mat-paginator>
  </mat-expansion-panel>
</mat-accordion>