<div>
<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h1>Fee Information</h1>
      </mat-panel-title>
    </mat-expansion-panel-header>
      <div *ngIf="!isBacklog" class="row">
          <div class="col-lg-4">
            <div>
              <mat-form-field>
                <mat-label>Fee Term</mat-label>
                <mat-select name="term" (selectionChange)="termChange($event.value)">
                  <mat-option>--Select--</mat-option>
                  <mat-option *ngFor="let term of terms" [value]="term.value">
                    {{term.text}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
              <mat-form-field>
                <mat-label>School Uniform</mat-label>
                <mat-select (selectionChange)="otherFees($event.value, 'Uniform')">
                  <mat-option>--Select--</mat-option>
                  <mat-option value="1">One</mat-option>
                  <mat-option value="2">Two</mat-option>
                  <mat-option value="3">Three</mat-option>
                  <mat-option value="4">Four</mat-option>
                  <mat-option value="5">Five</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
              <mat-form-field>
                <mat-label>Books</mat-label>
                <mat-select (selectionChange)="otherFees($event.value, 'Book')">
                  <mat-option>--Select--</mat-option>
                  <mat-option value="1">One</mat-option>
                  <mat-option value="2">Two</mat-option>
                  <mat-option value="3">Three</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div *ngIf="request.feeCollections.length > 0">
          <hr />
        <form #myform="ngForm" (ngSubmit)="myform.valid && feePayment()" novalidate>
          <table class="table" width="100%">
            <tr>
                <th>Reciept Type</th>
                <th>Payment Type</th>
                <th>Transactional ID</th>
                <th>Cheque No</th>
                <th>Cheque Date</th>
                <th>Bank Name</th>
            </tr>
            <tr *ngFor="let val of request.feeCollections; let i = index">
                <td>
                  <mat-label>{{request.feeCollections[i].recieptType}}</mat-label>
                </td>
                <td>
                  <mat-form-field>
                    <mat-label>Payment Type</mat-label>
                    <mat-select name="request.feeCollections[i].paymentType" required [(ngModel)]="request.feeCollections[i].paymentType">
                      <mat-option>--Select--</mat-option>
                      <mat-option value="Cash">Cash</mat-option>
                      <mat-option value="Card">Card</mat-option>
                      <mat-option value="Cheque">Cheque</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input matInput placeholder="Transactional ID" name="request.feeCollections[i].transactionalID" [required]="request.feeCollections[i].paymentType == 'Card'" [(ngModel)]="request.feeCollections[i].transactionalID"/>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input matInput type="number" placeholder="Cheque No" name="request.feeCollections[i].chequeNo" [required]="request.feeCollections[i].paymentType == 'Cheque'" [(ngModel)]="request.feeCollections[i].chequeNo" >
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <mat-label>Cheque Date</mat-label>
                    <input matInput [matDatepicker]="chequeDate" name="request.feeCollections[i].chequeDate" [required]="request.feeCollections[i].paymentType == 'Cheque'" [(ngModel)]="request.feeCollections[i].chequeDate">
                    <mat-datepicker-toggle matSuffix [for]="chequeDate"></mat-datepicker-toggle>
                    <mat-datepicker #chequeDate></mat-datepicker>
                </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input matInput placeholder="Bank Name" name="request.feeCollections[i].bankName" [required]="request.feeCollections[i].paymentType == 'Cheque'" [(ngModel)]="request.feeCollections[i].bankName" />
                  </mat-form-field>
                </td>
            </tr>
            <tr>
              <td align="right" colspan="4">
                <b>Total Amount</b>
              </td>
              <td><b>{{amount}}</b></td>
              <td><button mat-raised-button [disabled]="myform.invalid && myform.submitted" color="primary"> Payment </button></td>
            </tr>
        </table>
        </form>
        </div>
        <hr />
    <mat-grid-list cols="3" rowHeight="102px">
        <mat-grid-tile *ngFor="let info of response" [colspan]="1" [rowspan]="3">
            <table [ngClass]="info.isPaid ? 'table table-success' : 'table table-active'" width="100%">
                <tr>
                    <th>Description</th>
                    <th>Amount</th>
                </tr>
                <tr *ngFor="let val of info.feeObj">
                    <td>{{val.feeTypeDescription}}</td>
                    <td>{{val.amount}}</td>
                </tr>
            </table>
        <mat-grid-tile-header>
            <h3><b>{{info.termPeriod}}: {{info.termPeriodDescription}}</b></h3>
        </mat-grid-tile-header>
        <mat-grid-tile-footer>
            <h3><b>Total Amount: {{info.amount}}</b></h3>
        </mat-grid-tile-footer>
        </mat-grid-tile>
    </mat-grid-list>
  </mat-expansion-panel>
</mat-accordion>
<br />
<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h1>Fee Details</h1>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-material-table [table]="table"></app-material-table>
  </mat-expansion-panel>
</mat-accordion>
</div>