<div>
<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h1>Allocate Grade Section</h1>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      <form #myform="ngForm" (ngSubmit)="myform.valid && search()" novalidate>
        <div class="row">
          <div class="col-lg-4">
            <div>
              <mat-form-field>
                  <mat-label>Academic Year</mat-label>
                  <mat-select name="academicYear" required [(ngModel)]="request.academicYear">
                    <mat-option>--Select--</mat-option>
                    <mat-option *ngFor="let value of academicYear" [value]="value">
                      {{value}}
                    </mat-option>
                  </mat-select>
                  <mat-error>Please select Academic Year</mat-error>
                </mat-form-field>
          </div>
          </div>
          <div class="col-lg-4">
            <div>
              <mat-form-field>
                  <mat-label>Grade Description</mat-label>
                  <mat-select name="gradeDescription" required [(ngModel)]="request.gradeDescription">
                    <mat-option>--Select--</mat-option>
                    <mat-option *ngFor="let value of grade" [value]="value">
                      {{value}}
                    </mat-option>
                  </mat-select>
                  <mat-error>Please select Grade Description</mat-error>
                </mat-form-field>
          </div>
          </div>
          <div class="col-lg-4">
            <button mat-raised-button style="margin-right: 16px" color="primary" [disabled]="myform.invalid && myform.submitted" > Search </button>
            <button mat-raised-button style="margin-right: 16px" type="reset" (click)="clear(myform)" color="warn"> Reset </button>
            <button mat-raised-button style="margin-right: 16px" type="button" (click)="register(myform)" [disabled]="isDisabled" color="accent"> Allocate </button>
          </div>
        </div>
      </form>
    </div>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="checked">
        <th mat-header-cell *matHeaderCellDef><mat-checkbox [(ngModel)]="checkedAll" (change)="onCheckedAll($event)"></mat-checkbox></th>
        <td mat-cell *matCellDef="let element; let i = index"> <mat-checkbox [(ngModel)]="response[i].checked" (change)="onChecked($event, i)"></mat-checkbox> </td>
      </ng-container>
      <ng-container matColumnDef="studentName">
          <th mat-header-cell *matHeaderCellDef>Student Name</th>
          <td mat-cell *matCellDef="let element">{{ element.studentName }}</td>
        </ng-container>
        <ng-container matColumnDef="gradeDescription">
          <th mat-header-cell *matHeaderCellDef>Grade Description</th>
          <td mat-cell *matCellDef="let element">{{ element.gradeDescription }}</td>
        </ng-container>
        <ng-container matColumnDef="section">
          <th mat-header-cell *matHeaderCellDef>Section</th>
          <td mat-cell *matCellDef="let element">{{ element.section }}</td>
        </ng-container>
        <ng-container matColumnDef="academicYear">
          <th mat-header-cell *matHeaderCellDef>Academic Year</th>
          <td mat-cell *matCellDef="let element">{{ element.academicYear }}</td>
        </ng-container>
      <tr mat-header-row *matHeaderRowDef="cols"></tr>
      <tr mat-row *matRowDef="let row; columns: cols"></tr>
    </table>
  </mat-expansion-panel>
</mat-accordion>
</div>